*{
    padding: 0;
    margin: 0;
    box-sizing:border-box ;
    font-family: "Merriweather", serif,serif;
}

@media only screen and (max-width: 480px) {
    /* CSS styles for screens with a maximum width of 768px */
}

.grid-container{
    display: grid;
}


.nav-bar{
    display: flex;
    font-size: 32px;
    word-spacing: 16px;
    height: 32px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-top: 32px;
    position: sticky;
  
   
    
}

.campus{
    margin-right: 24px;
    

}


.hero{
    display: flex;
    flex-wrap: wrap;
    background-color: lightgray;
    margin-top: 64px;
    font-weight: 900;
    padding: 32px 24px;
   
    
}

.hero2{
    display: inline-flex;    
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
    font-size: 25px;
    height: 80%;
    width: 30%;
    padding-bottom: 20px;
    font-weight: 900;
}

.hero2 h1{
    margin: 8px 8px;  
    display: block;
    font-weight: 900;
    padding-bottom: 20px;
    font-weight: bolder;
    
}

.button-hero{
    background-color:rgb(133, 210, 212);
    display: flexbox;
    align-self:center;
    padding:5px 20%;
    margin-top: 50px;
    align-self: flex-start;
}






.information2{
    display: flex;
    background-color: rgba(211, 211, 211, 0.315);
    padding: 32px 24px 0px 32px;
    
   
}

.information2 h2{
    font-weight: 900;
    padding: 32px ;
}

.information2 p:nth-child(3) {
    padding-bottom: 32px;
   
    
}

.information3 {
    
  padding: 0px 24px 32px 32px ;
    
}





.course{

    background-color: rgba(211, 211, 211, 0.315);
}


.course2{
    padding-left: 16px;
    padding: 16px 16px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 32px;
    margin: 0px 72px;
    line-height: 8px;
   

    
}



.course2 h1 {
    display: flex;
    justify-content: center;
    padding: 32px;
    
}

.course div:nth-child(1){
    line-height: 26px;
    margin-bottom: 32px;
}






.thesis2{
    margin-top: 32px;
    margin-bottom: 32px;
    background-color: rgba(211, 211, 211, 0.315);
    display: inline-flex;
    font-size: 12px;
    padding: 0px 0px;
    
    
    
}

.thesis h1{
    font-size: 29px;
    padding-top: 32px;
    padding-bottom: 32px;
    justify-content: center;
    display: flex;
}



.thesis3{
    width: 60%;
    margin: 24px;

}


.thesis4{
    font-size: 12px;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    margin-top: px;
    width: 40%;
    background-color: rgb(238, 174, 77);
    margin: 24px 0px 0px 0px ;
    padding: 16px;
    flex-wrap: wrap;
    
    
}

.div2{
    display: flex;
    
}

.div3{
    display: flex;
}

.thesis5{
    padding-left: 24px;
}

.thesis6{
    padding-left: 24px;
}



.footer{
    padding: 16px 24px;
    display: flex;
    justify-content: space-between;
}
